.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
client/node_modules
!client/node_modules/semver/**
!client/node_modules/vscode/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**

server/node_modules
!server/node_modules/stlint
!server/node_modules/stylus
!server/node_modules/async
!server/node_modules/chalk
!server/node_modules/columnify
!server/node_modules/glob
!server/node_modules/native-require
!server/node_modules/node-watch
!server/node_modules/strip-json-comments
!server/node_modules/yargs

