.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
.DS_Store
node_modules

client/node_modules
!client/node_modules/semver/**
!client/node_modules/vscode/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**

server/node_modules
client/server/node_modules
!client/server/node_modules/stlint/**
!client/server/node_modules/stylus/**
!client/server/node_modules/async/**
!client/server/node_modules/chalk/**
!client/server/node_modules/columnify/**
!client/server/node_modules/glob/**
!client/server/node_modules/native-require/**
!client/server/node_modules/node-watch/**
!client/server/node_modules/strip-json-comments/**
!client/server/node_modules/yargs/**

!client/server/node_modules/fs.realpath/**
!client/server/node_modules/minimatch/**
!client/server/node_modules/brace-expansion/**
!client/server/node_modules/concat-map/**
!client/server/node_modules/balanced-match/**
!client/server/node_modules/inherits/**
!client/server/node_modules/vscode-languageserver/**
!client/server/node_modules/path-is-absolute/**
!client/server/node_modules/inflight/**
!client/server/node_modules/wrappy/**
!client/server/node_modules/once/**
!client/server/node_modules/inflight/**
!client/server/node_modules/safer-buffer/**
!client/server/node_modules/sax/**
!client/server/node_modules/debug/**
!client/server/node_modules/ms/**
!client/server/node_modules/escape-string-regexp/**
!client/server/node_modules/ansi-styles/**
!client/server/node_modules/color-convert/**
!client/server/node_modules/color-name/**
!client/server/node_modules/supports-color/**
!client/server/node_modules/has-flag/**
!client/server/node_modules/vscode-uri/**
!client/server/node_modules/strip-ansi/**
!client/server/node_modules/ansi-regex/**
!client/server/node_modules/wcwidth/**
!client/server/node_modules/defaults/**
!client/server/node_modules/clone/**
!client/server/node_modules/defaults/**
!client/server/node_modules/defaults/**


